<tr>
    <td>
        <%=bookid%>
    </td>
    <td>
        <%=name%>
    </td>
    <td>VH nước ngoài</td>
    <td>Kim Đồng</td>
    <td>20.000 VNĐ</td>
    <td>199</td>
    <td class="text-center">
        <a href="/change-book-info">
            <br>
            <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
        </a>
    </td>
</tr>