<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">
                <span>NMCNPM - N6</span>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="book-infomation">
                    <i class="fas fa-user-friends xcv"></i>
                    <span>Tra cứu thông tin sách</span>
                </a>
                <a class="nav-link" href="checkout">
                    <i class="fas fa-glasses"></i>
                    <span>Thanh toán tại quầy</span>
                </a>
                <a class="nav-link" href="create-promo">
                    <i class="fas fa-store-alt"></i>
                    <span>Tạo mã khuyến mãi</span>
                </a>
                <a class="nav-link" href="book-summary">
                    <i class="fa fa-product-hunt"></i>
                    <span>Thống kê sách</span>
                </a>
                <a class="nav-link" href="manager-product">
                    <i class="fa fa-product-hunt"></i>
                    <span>Undefined</span>
                </a>
                <a class="nav-link" href="manager-order">
                    <i class="fas fa-table"></i>
                    <span>Undefined</span>
                </a>
                <a class="nav-link" href="sales-detail">
                    <i class="fas fa-chart-bar"></i>
                    <span>Undefined</span>
                </a>
            </li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>