<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Thanh toán tại quầy</p>
                    </div>
                    <form class="mx-3 my-3">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã sách</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>p14053724</td>
                                        <td>85.760đ</td>
                                        <td>1</td>
                                        <td>85.760đ</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>p14053724</td>
                                        <td>85.760đ</td>
                                        <td>1</td>
                                        <td>85.760đ</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>p14053724</td>
                                        <td>85.760đ</td>
                                        <td>1</td>
                                        <td>85.760đ</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>p14053724</td>
                                        <td>85.760đ</td>
                                        <td>1</td>
                                        <td>85.760đ</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>p14053724</td>
                                        <td>85.760đ</td>
                                        <td>1</td>
                                        <td>85.760đ</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>p14053724</td>
                                        <td>85.760đ</td>
                                        <td>1</td>
                                        <td>85.760đ</td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="4">VAT(10%)</th>
                                        <td>85.760đ</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" >Giảm giá</th>
                                        <th colspan="2" >
                                            <form>
                                                <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Mã giảm giá (nếu có)">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-secondary">Áp dụng</button>
                                                </div>
                                                </div>
                                            </form>
                                        </th>
                                        <td>0.0đ</td>
                                    </tr>
                                    <tr>
                                        <th colspan="4">Tổng cộng</th>
                                        <td>85.760đ</td>
                                    </tr>
                                    
                                </tfoot>
                            </table>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="btn btn-primary">Thanh toán</div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>