<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Thay đổi thông tin sách</p>
                            </div>
                            <div class="card-body">
                                <form class="mx-3 my-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="bookid">Mã sách</label>
                                          <input type="text" class="form-control" id="bookid">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="bookname">Tên sách</label>
                                            <input type="text" class="form-control" id="bookname">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="publishing">Nhà xuất bản</label>
                                            <input type="text" class="form-control" id="publishing">
                                        </div>
                                        
                                          <div class="form-group col-md-6">
                                            <label for="category">Thể loại</label>
                                            <input type="text" class="form-control" id="category">
                                          </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md">
                                            <label for="isbn">ISBN</label>
                                            <input type="text" class="form-control" id="isbn">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="price">Giá</label>
                                            <input type="text" class="form-control" id="price">
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="btn btn-primary">Sửa đổi</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>